<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Chart 2019</h5>
              <h2 class=" card-title">Ton CO2eq vs Month</h2>
            </div>
            <div class=" col-sm-6">
              <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"> Liters consumption last month</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-support-17 text-danger-states"> </i> {{litros_}} L
          </h3> 
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Active vehicle</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> {{cars_}} vehicles
          </h3>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Percentage of CO2 equivalent </h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> {{emission_total_}} %
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
