<div class=" content">
  <div class=" row">
    <div class="form-group">
      <label for="c_select">Country</label>
      <select class="form-control" id="c_select" style="color: rgb(85, 85, 85);"
        (change)="getDatasCountry($event.target.value)">
        <option *ngFor="let item of countries">{{item}}</option>
      </select>
    </div>
  </div>
  <div class="row" >
    <div class="form-group">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Simple Table</h4>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Company</th>
                    <th>Percentage Of Damage In The Country</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let company of json_Countries; let i = index">
                    <td>{{company.name}}</td>
                    <td>{{company.emission_total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
