<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com?ref=bda-footer"> 
          Space Apps Challenge 
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://2019.spaceappschallenge.org/locations/cartago/">
          Costa Rica 2019
        </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} Develop by 
      <a href="https://2019.spaceappschallenge.org/challenges/living-our-world/surface-air-quality-mission/teams/mori/project" target="_blank"> MORI </a>.   
    </div>
  </div>
</footer>
